body {
background-color:white;
font-size: 12px;
font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
padding:10px;
margin:0px;
background-image: url(/public/images/banner-bg.png);
background-repeat: repeat-x;
}
/* ----------container to center the layout---------- */
margin:0;
padding:0;
background-color:#ffffff;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1em;

#container {
	//width:802px;
	padding:0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: lime;
	

}

#leftside {
 position: absolute;	
 width:19%;
 background-color: red;
 float:left;   
 margin-right:1px;
 border: solid 1px blue;
 padding: 10px 0 10px 0;
 overflow: auto;
}

#rightside {
 	width:78%;
 	float:left;
 	padding:1px;
 	margin:0px;
 	/*margin-left:25.1%;*/
 	/*margin-right: auto;*/
 	background-color: white;
 	/*border: 1px solid blue;*/
 	padding: 10px 10px 10px 10px	
}

#content {
	background-color: yellow;
	
}
	
#info {
	background-color: aqua;
}	
		
#footer {
	/* used to align the above divs*/
	clear:left;
	background-color: gray;
	padding:10px;
	margin:0px;
	text-align: center;
}

/* -- Controller Tabs css classes */
#menu {
	border-bottom:1px solid #CCCCCC;
	margin:0;
	padding-bottom:19px;
	padding-left:10px;
}
#menu ul, #menu li {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}
#menu li#activetab a{
	background : #fff;
 	border-bottom : 1px solid #fff;
	color : #000;
}
	
#menu a:link, #menu a:visited {
	background:#E8EBF0 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#666666;
	float:left;
	font-size:small;
	font-weight:normal;
	line-height:14px;
	margin-right:8px;
	padding:2px 10px;
	text-decoration:none;
}
#menu a:hover {
	background : #fff;
 	border-bottom : 1px solid #fff;
	color : #000;
}

